<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADSiscad.Properties.Settings.SISCADConnectionString"
            connectionString="Data Source=MATEOISAZA;Initial Catalog=SISCAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>